__pycache__
.DS_Store
.env
.idea
.venv
.vscode
*.local
*.log
build/*
dist
dist-ssr
dist/*
lerna-debug.log*
logs
node_modules
node_modules/*
npm-debug.log*
obj/*
package-lock.json
chroma_db/
penpals_db/
penpals.db
penpals-backend/chroma_db
penpals-backend/penpals_db/
penpals-frontend/src-tauri/build
penpals-frontend/build
penpals-frontend/src-tauri/gen/*
penpals-frontend/src-tauri/target/*
penpals-frontend/src-tauri/Cargo.toml
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
models/