__pycache__
.DS_Store
.env
.idea
.venv
.vscode
*.local
*.log
build/*
dist
dist-ssr
dist/*
lerna-debug.log*
logs
node_modules
node_modules/*
npm-debug.log*
obj/*
package-lock.json
penpals-backend/chroma_db
penpals-backend/penpals_db/
penpals-backend/src/build/*
penpals-backend/src/app.spec
penpals-frontend/src-tauri/build
penpals-frontend/build
penpals-frontend/src-tauri/gen/*
penpals-frontend/src-tauri/target/*
penpals-frontend/src-tauri/Cargo.toml
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
penpals-backend/src/chroma_db/*
penpals-backend/src/penpals_db/*


../app.spec
penpals_installer.exe
penpals-backend/src/penpals-backend.spec
